:root {
  --primary-color:#EE4D2D;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
}

* {
  box-sizing: inherit;
}

html {
  /* Hack */
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

p {
  font-size: 1rem;
  line-height: 1.6rem;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: warp;
}


/* Animation */
@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}